<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="connectionString" value="Server=.;Database=QBudgetDb_Test;Integrated Security=True;"/>
		<!--<add key="connectionString" value="Server=.;Database=QBudgetDb_Prod;Integrated Security=True;"/>-->
	</appSettings>
	
</configuration>