<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="connectionString" value="Server=.;Database=BankAccountLogs;Integrated Security=True;"/>
		<!--<add key="connectionString" value="Server=.;Database=QBudgetDb_Prod;Integrated Security=True;"/>-->

		<add key="monthDelemeter" value="5"/>
		<add key="startYear" value="2020"/>
	</appSettings>
	
</configuration>